body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    background: rgb(241, 116, 156);
    background: radial-gradient(circle, rgba(241, 116, 156, 1) 19%, rgba(240, 227, 227, 1) 80%);
    padding: 100px;
  }
  button {
    width: 100px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }

  #header {
    padding: 10px;
    color:rgb(247, 133, 133);
    font-size: 65px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }
  #header button {
    background-color:rgb(247, 133, 133);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
  }
  #calContainer {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 770px;
  }
  #days {
    width: 100%;
    display: flex;
    font-weight: semi-bold;
    color: rgb(255, 255, 255);
  }
  #days div {
    width: 100px;
    padding: 10px;
  }
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

  }
  .day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    margin: 3px;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    background-color: #ffffff;
    border: none;
    opacity: 0.8;
  }

  .day:hover {
    background-color: rgb(249, 176, 176);
    opacity: 1;
  }

  .day + #currentDay {
    background-color: rgb(247, 133, 133);
    opacity: 1.0;

  }
  .event {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
    padding: 3px;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
    transition: background-color 250ms linear;
  }
  .event:hover {
    transition: background-color 250ms linear;
  }

  #newEvent, #deleteEvent {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    color: #000000;
    font-size: 18px;
  }

  #eventInput,#eventStart,#eventEnd, #eventDesc {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    color: rgb(247, 133, 133);
    font-size: 18px;
  }
  #btnCancel, #btnDelete {
    background-color: #a73333;
  }
  #btnSave, #btnClose {
    background-color: #6484ea;
  }
  #eventText {
    font-size: 20px;
    overflow-wrap:break-word;
    text-decoration: underline;
    font-weight: bold;
  }

  #eventD {
    font-size: 15px;
    overflow-wrap:break-word;
  }

  #eventS, #eventE {
    font-size: 15px;
    overflow-wrap:break-word;
  }

  #backDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }

  #errorText {
    color:#800000;
    font-weight: bold
  }


#theme {
    float: right;
    width: 75px;
    color: rgb(247, 133, 133);
  }